

   <nav class="navbar navbar-inverse navbar-global navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
          <div class="row">
              
          </div>
      
        <a class="navbar-brand" href="#" style="margin-right: 740px;">ADMIN DASHBOARD</a>
     
        <span style="margin-right: 680px; font-size: x-large;">Abdul-Rahman</span>
        <button type="button" class="btn btn-danger">Logout</button>
      </div>
   
    </div>
  </nav>
<nav class="navbar-primary">
<a href="#" class="btn-expand-collapse"><span class="glyphicon glyphicon-menu-left"></span></a>
<ul class="navbar-primary-menu">
  <li>
    <a routerLink="/admin"><span class="glyphicon glyphicon-list-alt"></span><span class="nav-label">Dashboard</span></a>
    <a routerLink="/admin-users"><span class="glyphicon glyphicon-envelope"></span><span class="nav-label">Users</span></a>
    <a routerLink="/admin-logs"><span class="glyphicon glyphicon-cog"></span><span class="nav-label">Logs</span></a>
    <a routerLink="/admin-transaction"><span class="glyphicon glyphicon-film"></span><span class="nav-label">Transactions</span></a>
    <!-- <a href="#"><span class="glyphicon glyphicon-calendar"></span><span class="nav-label">Monitor</span></a> -->
  </li>
</ul>
</nav>
<div class="main-content">
<h1> Admin Logs</h1>

<fieldset  class="form-group border p-3" style="background-color: black; color: beige; overflow-y: scroll; height: 781px;">
  hello grinder

  <div class="row" >
    
      
  </div>
  <br>
  
  
  <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>User Id</th>
          <th>Name</th>
          <th>Description</th>
        </tr>
      
      </thead>
      <tbody>
        <tr>
          <td>10-11-2021</td>
          <td>1</td>
          <td>Abdul-Rahman</td>
          <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident dolorum doloribus fugit labore dolores odio aliquam similique, reprehenderit adipisci voluptatum, nulla officiis maiores tempora impedit cum quo eligendi dicta ab, illo consequatur quae velit dolor? Officia incidunt tempora voluptate veniam quae iusto eveniet nemo laudantium nesciunt quos. Autem, itaque labore.</td>
        </tr>

        <tr>
          <td>10-11-2021</td>
          <td>1</td>
          <td>Abdul-Rahman</td>
          <td>Abdul-Rahman created a portfolio</td>
        </tr>
        
        <tr>
          <td>10-11-2021</td>
          <td>1</td>
          <td>Abdul-Rahman</td>
          <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis dolores illum magni unde aliquid voluptates commodi neque placeat error veritatis?</td>
        </tr>

        <tr>
          <td>10-11-2021</td>
          <td>1</td>
          <td>Abdul-Rahman</td>
          <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat, unde? Provident, voluptate. Deleniti natus deserunt ex! Architecto.</td>
        </tr>
        <tr>
          <td>10-11-2021</td>
          <td>1</td>
          <td>Abdul-Rahman</td>
          <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, commodi.</td>
        </tr>

        <tr>
          <td>10-11-2021</td>
          <td>1</td>
          <td>Abdul-Rahman</td>
          <td>Abdul-Rahman made a sell orde with id 4</td>
        </tr>

        <tr>
          <td>10-11-2021</td>
          <td>1</td>
          <td>Abdul-Rahman</td>
          <td>Abdul-Rahman made a sell orde with id 4</td>
        </tr>
        <tr>
          <td>10-11-2021</td>
          <td>1</td>
          <td>Abdul-Rahman</td>
          <td>Abdul-Rahman made a sell orde with id 4</td>
        </tr>
        <tr>
          <td>10-11-2021</td>
          <td>1</td>
          <td>Abdul-Rahman</td>
          <td>Abdul-Rahman made a sell orde with id 4</td>
        </tr>
        <tr>
          <td>10-11-2021</td>
          <td>1</td>
          <td>Abdul-Rahman</td>
          <td>Abdul-Rahman made a sell orde with id 4</td>
        </tr>
         <tr>
          <td>10-11-2021</td>
          <td>1</td>
          <td>Abdul-Rahman</td>
          <td>Abdul-Rahman made a sell orde with id 4</td>
        </tr>
       
       
      </tbody>
    </table>

</fieldset>
</div>

