
<div class="container">
    <nav class="navbar navbar-light"  [ngStyle]="{'background':'white','color':'#1f3560'}">
        <div class="container-fluid">
            <h1 >Market Data</h1>
            <div>
                <span><h3>Abdul-Rahman</h3></span>
            </div>
        </div>

        
    </nav>
    <br>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
        
            <a href=""><i  class="fas fa-chart-line  fa-3x" ></i></a>
            <a href=""><i  class="fas fa-cloud fa-3x" ></i></a>
            <a href=""><i  class="fas fa-cloud fa-3x" ></i></a>
    
        </div>
    </div>


    
   <!-- <h1>{{ttl}}</h1> -->
   <h1>Hello Grinder</h1>
    
    <br>
    <fieldset  class="form-group border p-3">

        <div class="row">
            <legend class="w-auto px-2 col-2">Exchange 1</legend>
            <div class="col-8"></div>
            
        </div>
        <br>
    
        <table class="table">

          
            <thead>
              <tr>
                <th>TICKER</th>
                <th>LAST TRADED PRICE</th>
                <th>SELL LIMIT</th>
                <th>BUY LIMIT</th>
                <th>BID PRICE</th>
                <th>ASK PRICE</th>
                <th>MAX PRICE SHIFT</th>
              </tr>
            </thead>
            <tbody>
                
             <tr *ngFor="let md of exchange1">
                <td>{{md.TICKER}}</td>
                <td>{{md.LAST_TRADED_PRICE}}</td>
                <td>{{md.SELL_LIMIT}}</td>
                <td>{{md.BUY_LIMIT}}</td>
                <td>{{md.BID_PRICE}}</td>
                <td>{{md.ASK_PRICE}}</td>
                <td>{{md.MAX_PRICE_SHIFT}}</td>
            </tr>

                
              <!-- <tr *ngFor="let md of marketData"> -->
               
            </tbody>
          </table>

          
        
    
    </fieldset>

   

    <br>
    <fieldset  class="form-group border p-3">

        <div class="row">
            <legend class="w-auto px-2 col-2">Exchange 2</legend>
            <div class="col-8"></div>
            
        </div>
        <br>
    
        <table class="table">
            <thead>
              <tr>
                <th>TICKER</th>
                <th>LAST TRADED PRICE</th>
                <th>SELL LIMIT</th>
                <th>BUY LIMIT</th>
                <th>BID PRICE</th>
                <th>ASK PRICE</th>
                <th>MAX PRICE SHIFT</th>
              </tr>
            </thead>
            <tbody>
                
             <tr *ngFor="let md of exchange2">
                <td>{{md.TICKER}}</td>
                <td>{{md.LAST_TRADED_PRICE}}</td>
                <td>{{md.SELL_LIMIT}}</td>
                <td>{{md.BUY_LIMIT}}</td>
                <td>{{md.BID_PRICE}}</td>
                <td>{{md.ASK_PRICE}}</td>
                <td>{{md.MAX_PRICE_SHIFT}}</td>
            </tr>

                
              <!-- <tr *ngFor="let md of marketData"> -->
               
            </tbody>
          </table>

          
        
    
    </fieldset>
    
    
    

</div>
