
<div class="container">
    <nav class="navbar navbar-light"  [ngStyle]="{'background':'white','color':'#1f3560'}">
        <div class="container-fluid">
            <h1 >Client Dashboard</h1>
            <div>
                <span><h3>Abdul-Rahman</h3></span>
            </div>
        </div>

        
    </nav>
    <br>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
        
            <a href=""><i  class="fas fa-chart-line  fa-3x" ></i></a>
            <a href=""><i  class="fas fa-cloud fa-3x" ></i></a>
            <a href=""><i  class="fas fa-cloud fa-3x" ></i></a>
    
        </div>
    </div>
    
    <br>
    <fieldset  class="form-group border p-3">

        <div class="row">
            <legend class="w-auto px-2 col-2">Transactions</legend>
            <div class="col-8"></div>
            <button class="btn btn-success col-2">Add Portfolio</button>
        </div>
        <br>

       
        
        
        <table class="table">
            <thead>
              <tr>
                <th>TRANSACTION ID</th>
                <th>DATE</th>
                <th>SECURITY</th>
                <th>ACTION</th>
                <th>UNITS</th>
                <th>PRICE</th>
                <th>VALUE</th>
                <th>STATUS</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>hjkas677323jklks</td>
                <td>2nd December, 2021</td>
                <td>IBM</td>
                <td>BUY</td>
                <td>50</td>
                <td>1</td>
                <td>Ghs50</td>
                <td>Processing</td>
              </tr>
              <tr>
                <td>tqyq7223faaas</td>
                <td>2nd December, 2021</td>
                <td>IBM</td>
                <td>BUY</td>
                <td>50</td>
                <td>1</td>
                <td>Ghs50</td>
                <td><div><span class="badge badge-info">Processing</span></div></td>
              </tr>
              <tr>
                <td>gfgagfa5671gfga</td>
                <td>2nd December, 2021</td>
                <td>IBM</td>
                <td>BUY</td>
                <td>50</td>
                <td>1</td>
                <td>Ghs50</td>
                <td><button class="btn btn-inf">Processing</button></td>
              </tr>
              <tr>
                <td>gfa77798723vaa</td>
                <td>2nd December, 2021</td>
                <td>IBM</td>
                <td>BUY</td>
                <td>50</td>
                <td>1</td>
                <td>Ghs50</td>
                <td><span class="badge badge-info">Processing</span></td>
              </tr>
             
            </tbody>
          </table>

          <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalLong" tabindex="-4" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
</div>

          
        
    
    </fieldset>

    

    
    
    
    

</div>
