
<!-- 6eaab7ab-ff60-4764-b7d1-c11f29b6a894 --> 

   <nav class="navbar navbar-inverse navbar-global navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
          <div class="row">
              
          </div>
      
        <a class="navbar-brand" href="#" style="margin-right: 740px;">ADMIN DASHBOARD</a>
     
        <span style="margin-right: 680px; font-size: x-large;">Abdul-Rahman</span>
        <button type="button" class="btn btn-danger">Logout</button>
      </div>
   
    </div>
  </nav>
<nav class="navbar-primary">
<a href="#" class="btn-expand-collapse"><span class="glyphicon glyphicon-menu-left"></span></a>
<ul class="navbar-primary-menu">
  <li>
    <!-- <a routerLink="/admin-transactions"><i class="fab fa-stack-exchange fa-3x"></i></a> -->
    <a routerLink="/admin"><span class="glyphicon glyphicon-list-alt"></span><span class="nav-label">Dashboard</span></a>
    <a routerLink="/admin-users"><span class="glyphicon glyphicon-envelope"></span><span class="nav-label">Users</span></a>
    <a routerLink="/admin-logs"><span class="glyphicon glyphicon-cog"></span><span class="nav-label">Logs</span></a>
    <a routerLink="/admin-transaction"><span class="glyphicon glyphicon-film"></span><span class="nav-label">Transactions</span></a>
    <!-- <a href="#"><span class="glyphicon glyphicon-calendar"></span><span class="nav-label">Monitor</span></a> -->
  </li>
</ul>
</nav>
<div class="main-content">
<h1> I am the main content </h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sint assumenda quae aliquid voluptatibus quia, ea, ad natus magni repellat earum, culpa iure tempore. Enim dolor eaque minima voluptas ducimus?</p>
</div>

